html,
body {
  padding: 0;
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
  font-family: 'JetBrains Mono', monospace;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
